@model BotAgentHubApp.Models.DashboardViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body style="font-family: 'Nunito', sans-serif;">

    <a href="@Url.Action("Index", "Dashboard")">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#23272D" class="bi bi-arrow-left" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
    </a>

    <h2 style="padding: 0px 0px 0px 35px">Balas Melalui E-mail</h2>

    <div>
        @using (Html.BeginForm("Index", "SendEmail", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal" style="padding: 10px 0px 0px 50px">
                <div class="form-group">
                    @Html.Label("Kepada", new { Style = "font-weight: normal" })
                    <div>
                        @Html.TextBoxFor(model => model.EmailModel.To, new { style = " width:75vw; " })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Judul", new { Style = "font-weight: normal" })
                    <div>
                        @Html.TextBoxFor(model => model.EmailModel.Subject, new { style = " width:75vw; " })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Balasan", new { Style = "font-weight: normal" })
                    <div>
                        @Html.TextAreaFor(model => model.EmailModel.Body, new { @class = "autoExpand", rows = "10", cols = "20", style = " width:75vw;" })

                        <script>
                            function getScrollHeight(elm) {
                                var savedValue = elm.value
                                elm.value = ''
                                elm._baseScrollHeight = elm.scrollHeight
                                elm.value = savedValue
                            }

                            function onExpandableTextareaInput({ target: elm }) {
                                // make sure the input event originated from a textarea and it's desired to be auto-expandable
                                if (!elm.classList.contains('autoExpand') || !elm.nodeName == 'TEXTAREA') return

                                var minRows = 10 | 0, rows;
                                !elm._baseScrollHeight && getScrollHeight(elm)

                                elm.rows = minRows
                                rows = Math.ceil((elm.scrollHeight - elm._baseScrollHeight) / 16)
                                elm.rows = minRows + rows
                            }


                            // global delegated event listener
                            document.addEventListener('input', onExpandableTextareaInput)
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="submit" value="Kirim Balasan" class="btn" />
                    </div>
                </div>
            </div>

        }
    </div>
</body>
</html>
