
@{
	ViewBag.Title = "DirectLineTest";
}

<div id="webchat" role="main"></div>
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
<script>

	const styleSet = window.WebChat.createStyleSet({
		bubbleBackground: 'rgba(0, 0, 255, .1)',
		bubbleFromUserBackground: 'rgba(0, 255, 0, .1)',

		//botAvatarImage: '<your bot avatar URL>',
		//botAvatarInitials: 'BF',
		//userAvatarImage: '<your user avatar URL>',
		//userAvatarInitials: 'WC',
		rootHeight: '100%',
		rootWidth: '30%'
	});

	// After generated, you can modify the CSS rules
	styleSet.textContent = {
		...styleSet.textContent,
		fontFamily: "'Comic Sans MS', 'Arial', sans-serif",
		fontWeight: 'bold'
	};

	(async function () {
		const store = window.WebChat.createStore({}, ({ dispatch }) => next => action => {
			if (action.type === 'DIRECT_LINE/CONNECT_FULFILLED') {
				dispatch({
					type: 'WEB_CHAT/SEND_EVENT',
					payload: {
						name: 'webchat/join',
						value: {
							language: window.navigator.language
						}
					}
				});
			}

			return next(action);
		});

		const settings = {
			locale: '@ViewData["Locale"]',
			store,
			userID: '@ViewData["UserId"]',
			username: '@ViewData["UserName"]'
		};

		let adapters = null;
		const mode = '@ViewData["Mode"]';

		if (mode === 'DIRECTLINE') {
			adapters = {
				directLine: window.WebChat.createDirectLine({
					token: '@ViewData["DirectLineToken"]'
				})
			};
		} else {
			throw new Error(
				'Application mode could not be determined from specified application settings. ' +
				'Please specify either a valid speech service region identifier and key for Direct Line Speech, ' +
				'or a valid Direct Line secret for Direct Line.');
		}

		window.WebChat.renderWebChat(
			{
				...adapters,
				...settings,
				styleSet
			},
			document.getElementById('webchat'));

		document.querySelector('#webchat > *').focus();
	})().catch(err => console.error(err))
</script>