@model BotAgentHubApp.Models.ChatHistoryViewModels
@{
    ViewBag.Title = "Riwayat Percakapan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Riwayat Percakapan</h2>

<div class="table_wrapper" style="width: 100vw;">
    <!--INSERT TABLE HERE-->
    <table class="table table-striped table-hover">
        <tr>
            <th>
                User ID
            </th>
            <th>
                Tanggal
            </th>
            <th>
                Waktu (WIB)
            </th>
            <th>
                Bot
            </th>
            <th>
                Live Chat
            </th>
            <th>
                E-mail
            </th>
            <th>
                Lihat Percakapan
            </th>
        </tr>

        @foreach (var item in Model.ChatHistories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDoneOnBot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDoneOnLiveChat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDoneOnEmail)
                </td>
                <td>
                    @Html.ActionLink("View Document", "ViewDocument", new { id = item.ChatHistoryFileName })
                </td>
            </tr>
        }
    </table>
</div>

@*@if (User.IsInRole("SuperAdmin") || User.IsInRole("StaffAdmin"))
{
    <button id="myBtn" class="act-btn" onclick="createPopupWin('https://localhost:44361/Dashboard/DirectLine?Length=9','Chat Room', 300, 400)">

        <svg class="mobile-hide" height="2vw" width="2vw" style="vertical-align: middle; margin-right: 10px">
            <circle cx="1vw" cy="1vw" r="0.8vw" stroke-width="0" fill="#FED400" />
        </svg>

        <span style="vertical-align: middle; font-family: 'Nunito', sans-serif;">
            Live Chat
        </span>

        <script>
            function createPopupWin(pageURL, pageTitle,
                popupWinWidth, popupWinHeight) {
                var left = (screen.width - popupWinWidth) / 2;
                var top = (screen.height - popupWinHeight) / 4;

                var myWindow = window.open(pageURL, pageTitle,
                    'resizable=yes, width=' + popupWinWidth
                    + ', height=' + popupWinHeight + ', top='
                    + top + ', left=' + left);
            }
        </script>

    </button>
}*@