@model BotAgentHubApp.Models.ChatHistoryViewModels
@{
    ViewBag.Title = "Riwayat Percakapan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Riwayat Percakapan</h2>

<div class="table_wrapper" style="width: 100vw;">
    <!--INSERT TABLE HERE-->
    <table class="table table-striped table-hover">
        <tr>
            <th>
                User ID
            </th>
            <th>
                Tanggal
            </th>
            <th>
                Waktu (WIB)
            </th>
            <th>
                Bot
            </th>
            <th>
                Live Chat
            </th>
            <th>
                E-mail
            </th>
            <th>
                Lihat Percakapan
            </th>
        </tr>

        @foreach (var item in Model.ChatHistories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDoneOnBot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDoneOnLiveChat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDoneOnEmail)
                </td>
                <td>
                    @Html.ActionLink("View Document", "ViewDocument", new { id = item.ChatHistoryFileName })
                </td>
            </tr>
        }
    </table>
</div>