<div id="webchat" role="main"></div>
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
<script>

	const styleSet = window.WebChat.createStyleSet({
		bubbleBackground: 'white',
		bubbleBorderRadius: 6,
		bubbleBorderColor: '#23272D',
		bubbleFromUserBorderRadius: 6,
        bubbleTextColor: '#23272D',
		bubbleFromUserBackground: '#23272D',
		bubbleFromUserTextColor: 'white',
		transcriptOverlayButtonBackground: '#23272D',
        suggestedActionBackground: '#004A74',
        suggestedActionBorderColor: undefined, // defaults to accent
        suggestedActionBorderRadius: 6,
        suggestedActionImageHeight: 20,
        suggestedActionTextColor: null,
        suggestedActionDisabledBackground: undefined, // defaults to suggestedActionBackground
        suggestedActionDisabledBorder: null,
        suggestedActionDisabledBorderColor: '#E6E6E6',
        suggestedActionDisabledBorderStyle: 'solid',
        suggestedActionDisabledBorderWidth: 2,
        suggestedActionDisabledTextColor: undefined, // defaults to subtle
        suggestedActionHeight: 40,
		
		rootHeight: '100%',
		rootWidth: '100%'
	});

	// After generated, you can modify the CSS rules
	styleSet.textContent = {
		...styleSet.textContent,
		fontFamily: "'Nunito', sans-serif",
	};

	(async function () {
		const store = window.WebChat.createStore({}, ({ dispatch }) => next => action => {
			if (action.type === 'DIRECT_LINE/CONNECT_FULFILLED') {
				dispatch({
					type: 'WEB_CHAT/SEND_EVENT',
					payload: {
						name: 'webchat/join',
						value: {
							language: window.navigator.language
						}
					}
				});
			}

			return next(action);
		});

		const settings = {
			locale: '@ViewData["Locale"]',
			store,
			userID: '@ViewData["UserId"]',
			username: '@ViewData["UserName"]'
		};

		let adapters = null;
		const mode = '@ViewData["Mode"]';

		if (mode === 'DIRECTLINE') {
			adapters = {
				directLine: window.WebChat.createDirectLine({
					token: '@ViewData["DirectLineToken"]'
				})
			};
		} else {
			throw new Error(
				'Application mode could not be determined from specified application settings. ' +
				'Please specify either a valid speech service region identifier and key for Direct Line Speech, ' +
				'or a valid Direct Line secret for Direct Line.');
		}

		window.WebChat.renderWebChat(
			{
				...adapters,
				...settings,
				styleSet
			},
			document.getElementById('webchat'));

		document.querySelector('#webchat > *').focus();
	})().catch(err => console.error(err))
</script>